

h1{
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: rgb(177, 149, 149);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,sans-serif;
    background-color: rgb(36, 40, 48);
  }

/* apply styles to header */
header {
    padding: 20px 35px;
    background-color: #0a2527;
    display:flex;
    justify-content: space-between;
  }

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0px;
  }

header nav {
    margin: 7px 0;
  }

section {
    padding: 10px;
}


/*apply style to hero image*/

.hero{
  height: 400px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

/* Proper adjustment to employee photo*/
.image2 {
  position: absolute;
  top: 150px;
  left: 30px;
  height:150px;
  width: 150px;
}

.hero h2 {
  font-style: italic;
  font-size: 20px;
  margin-top: 300px;
  background-color:rgb(229, 232, 238);
}


/*Work section*/
.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 50px;  
  width: 90%;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: left;
}

.section-title {
  font-size: 35px;
  font-family:cursive;
  color: #024e76;
  margin: 0 0 0 80px;
  width: 50%;
}

.step-info{
  flex :2 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.border1 {
  border-right: 3px solid #39a6b2;
  height: 20px;
  flex: 2 1%;
}

.step-text {
  flex: 25;
}

.step-text p {
  display: inline;  
  font-size: 15px;
  line-height: 1.3;

}

.border2{
  border-right: 3px solid #39a6b2;
  height: 265px;
  flex: 2 5%;  
  
}

.container{
  flex:80;
}

.container {
  display: flex;  
  justify-content: space-between;
  align-items: center; 
  margin-left: 15px;
  width: 80%;  
    
}

.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 10vw);
  grid-gap: 15px;
  margin-left: 30px;     
  
}

.gallery__item{
position: relative;
}
.gallery__img {
width: 100%;
height: 100%;
object-fit: cover;
border: solid 1px var(--primary-color);  
}

figcaption{
position: absolute;
margin-left: 5px;
margin-top: -20%;
font-size: 12px;
font-style: italic;
font-weight: bold;
color:  rgb(22, 44, 44);
border: solid 1px var(--primary-color);
background-color: rgb(229, 232, 238);
}

.item1 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
position: relative;
}


.item2 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 4;
grid-row-end: 5;
}




/*About section*/
.border3 {
  border-right: 3px solid #39a6b2;
  height: 100px;
 
}

.contact-info {
  flex: 150;
}
.contact-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  list-style: none;
  margin-left: 15px;
  width: 100%;  
  }

.contact-info ul li a {
    margin: 0 30px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 2px;
  }

.resume{
margin: 20px 20px;
color: #024e76;
}
  
/*Code for media query*/

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 10px;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    line-height: 1.5;
  }

  header nav ul li a {
    font-size: 16px;
    font-weight: bold;
  }

  .hero{
    background-size: cover;
  }

  .image2{
    height: 100px;
    width: 100px;
  }
  .hero h2 {      
    font-size: 10px;
    margin-top: 350px;
    }

  .step-text p{
      width: 85%;
    }

  .section-title {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

  .vl-border1 {      
    height: 350px;     
  }

.vl-border2{
  height: 280px;     
}  
  .container{
    width: 100%;
  }
  .contact-info ul {     
    width: 100%;
    justify-content: left;
    flex-direction: column;      
}
  
  .contact-info ul li a {
      font-size: 18px;
      line-height: 2;  
      font-weight: bold;
}

  .vl-border3{
      height: 180px;
  }

  .image2 {
      top:200px;
  }
    
  figcaption{
      margin-left: 5px;
      margin-top: -45%;
      font-size: 5px;
  }

}